<?xml version="1.0" encoding="utf-8"?>
<packages>

  <package
    id="CBT.Microsoft.Common.targets"
    version="1.0.0"
      />
  
  <package
    id="CBT.NuGet"
    version="1.0.7-beta"
      />

  <package
    id="CBT.Traversal"
    version="1.0.1"
      />

  <package
      id="Nerdbank.GitVersioning"
      version="1.5.58"
    />

  <package
    id="CBT.DotNetFx"
    version="4.5.0-beta02"
    />

</packages>